.bbbfly_mapIcon .bbbfly_mapIconText
{
  font-family: Arial CE,Helvetica CE,Arial,Helvetica,sans-serif !important;
  text-align: center;
  display: block;
  position: absolute;
  z-index: 1000;

  padding: 0px;
  margin: 0px;
}

.bbbfly_mapIcon_smallcluster .bbbfly_mapIconText
{
  top: 2px;
  left: 2px;
  width: 16px;

  font-size: 8px;
  line-height: 16px;
}

.bbbfly_mapIcon_mediumcluster .bbbfly_mapIconText
{
  top: 4px;
  left: 4px;
  width: 22px;

  font-size: 12px;
  line-height: 22px;
}

.bbbfly_mapIcon_largecluster .bbbfly_mapIconText
{
  top: 5px;
  left: 5px;
  width: 30px;

  font-size: 15px;
  line-height: 30px;
}

.bbbfly_mapIcon_smalldisc .bbbfly_mapIconText,
.bbbfly_mapIcon_smallcircle .bbbfly_mapIconText,
.bbbfly_mapIcon_smallghost .bbbfly_mapIconText
{
  top: 0px;
  left: 0px;
  width: 20px;

  font-size: 10px;
  line-height: 20px;
}

.bbbfly_mapIcon_mediumdisc .bbbfly_mapIconText,
.bbbfly_mapIcon_mediumcircle .bbbfly_mapIconText,
.bbbfly_mapIcon_mediumghost .bbbfly_mapIconText
{
  top: 4px;
  left: 4px;
  width: 22px;

  font-size: 12px;
  line-height: 22px;
}

.bbbfly_mapIcon_largedisc .bbbfly_mapIconText,
.bbbfly_mapIcon_largecircle .bbbfly_mapIconText,
.bbbfly_mapIcon_largeghost .bbbfly_mapIconText
{
  top: 5px;
  left: 5px;
  width: 30px;

  font-size: 15px;
  line-height: 30px;
}

.bbbfly_mapIcon_gray .bbbfly_mapIconText,
.bbbfly_mapIcon_blue .bbbfly_mapIconText,
.bbbfly_mapIcon_orange .bbbfly_mapIconText,
.bbbfly_mapIcon_green .bbbfly_mapIconText,
.bbbfly_mapIcon_red .bbbfly_mapIconText
{
  color: #ffffff;
}

.bbbfly_mapIcon > .MapIconText{
  font-family: Arial CE,Helvetica CE,Arial,Helvetica,sans-serif !important;
}

.bbbfly_mapIcon_smallcluster > .MapIconText{
  top: 2px;
  left: 2px;
  right: 2px;

  font-size: 8px;
  line-height: 16px;
}

.bbbfly_mapIcon_mediumcluster > .MapIconText{
  top: 4px;
  left: 4px;
  right: 4px;

  font-size: 12px;
  line-height: 22px;
}

.bbbfly_mapIcon_largecluster > .MapIconText{
  top: 5px;
  left: 5px;
  right: 5px;

  font-size: 15px;
  line-height: 30px;
}

.bbbfly_mapIcon_smalldisc > .MapIconText,
.bbbfly_mapIcon_smallcircle > .MapIconText,
.bbbfly_mapIcon_smallghost > .MapIconText{
  top: 0px;
  left: 0px;
  right: 0px;

  font-size: 10px;
  line-height: 20px;
}

.bbbfly_mapIcon_mediumdisc > .MapIconText,
.bbbfly_mapIcon_mediumcircle > .MapIconText,
.bbbfly_mapIcon_mediumghost > .MapIconText{
  top: 4px;
  left: 4px;
  right: 4px;

  font-size: 12px;
  line-height: 22px;
}

.bbbfly_mapIcon_largedisc > .MapIconText,
.bbbfly_mapIcon_largecircle > .MapIconText,
.bbbfly_mapIcon_largeghost > .MapIconText{
  top: 5px;
  left: 5px;
  right: 5px;

  font-size: 15px;
  line-height: 30px;
}

.bbbfly_mapIcon_gray > .MapIconText,
.bbbfly_mapIcon_blue > .MapIconText,
.bbbfly_mapIcon_orange > .MapIconText,
.bbbfly_mapIcon_green > .MapIconText,
.bbbfly_mapIcon_red > .MapIconText,
.bbbfly_mapIcon_magenta > .MapIconText,
.bbbfly_mapIcon_cyan > .MapIconText,
.bbbfly_mapIcon_brown > .MapIconText,
.bbbfly_mapIcon_violet > .MapIconText,
.bbbfly_mapIcon_pine > .MapIconText,
.bbbfly_mapIcon_yellow > .MapIconText{
  color: #ffffff;
}
