@import "./theme.less";

/* App ************************************************************************/
/*.ngApplication{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: @bApp;
}

 Remove IE10+ text input buttons
::-ms-clear{
  width: 0;
  height: 0;
}

::-ms-reveal{
  width: 0;
  height: 0;
}*/

/*light|dark*/
/*disabled*/

/* ContentPanel, ContentFrame, ContentGrid, ContentWrapper ********************/
.@{tp}ContentPanel,
.@{tp}ContentPanelLight,
.@{tp}ContentFrame,
.@{tp}ContentFrameLight,
.@{tp}ContentGrid,
.@{tp}ContentGridLight,
.@{tp}ContentWrapper,
.@{tp}ContentWrapperLight{

  > .ControlsPanel{
    background-color: @bInferLight;
    color: @tInferLight;
  }

  [D='1'] > .ControlsPanel{
    background-color: @bInferLightDsbl;
    color: @tInferLightDsbl;
  }
}

.@{tp}ContentPanelDark,
.@{tp}ContentFrameDark,
.@{tp}ContentGridDark,
.@{tp}ContentWrapperDark{

  > .ControlsPanel{
    background-color: @bInferDark;
    color: @tInferDark;
  }

  [D='1'] > .ControlsPanel{
    background-color: @bInferDarkDsbl;
    color: @tInferDarkDsbl;
  }
}

/* InputFrame ******************************************************************/
.@{tp}InputFrame,
.@{tp}InputFrameLight{

  > .ControlsPanel{
    background-color: @bInput;
    color: @tInput;
  }

  [D='1'] > .ControlsPanel{
    background-color: @bInputDsbl;
    color: @tInputDsbl;
  }
}

.@{tp}InputFrameDark{

  > .ControlsPanel{
    background-color: @bInput;
    color: @tInput;
  }

  [D='1'] > .ControlsPanel{
    background-color: @bInputDsbl;
    color: @tInputDsbl;
  }
}