/* App ************************************************************************/
/*.ngApplication{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: @bApp;
}

 Remove IE10+ text input buttons
::-ms-clear{
  width: 0;
  height: 0;
}

::-ms-reveal{
  width: 0;
  height: 0;
}*/
/*light|dark*/
/*disabled*/
/* ContentPanel, ContentFrame, GridFrame, WrapperFrame ************************/
.aegis-ContentPanel > .ControlsPanel,
.aegis-ContentPanelLight > .ControlsPanel,
.aegis-ContentFrame > .ControlsPanel,
.aegis-ContentFrameLight > .ControlsPanel,
.aegis-GridFrame > .ControlsPanel,
.aegis-GridFrameLight > .ControlsPanel,
.aegis-WrapperFrame > .ControlsPanel,
.aegis-WrapperFrameLight > .ControlsPanel {
  background-color: #768d87;
  color: #111111;
}
.aegis-ContentPanel [D='1'] > .ControlsPanel,
.aegis-ContentPanelLight [D='1'] > .ControlsPanel,
.aegis-ContentFrame [D='1'] > .ControlsPanel,
.aegis-ContentFrameLight [D='1'] > .ControlsPanel,
.aegis-GridFrame [D='1'] > .ControlsPanel,
.aegis-GridFrameLight [D='1'] > .ControlsPanel,
.aegis-WrapperFrame [D='1'] > .ControlsPanel,
.aegis-WrapperFrameLight [D='1'] > .ControlsPanel {
  background-color: #768d87;
  color: #808080;
}
.aegis-ContentPanelDark > .ControlsPanel,
.aegis-ContentFrameDark > .ControlsPanel,
.aegis-GridFrameDark > .ControlsPanel,
.aegis-WrapperFrameDark > .ControlsPanel {
  background-color: #566963;
  color: #dddddd;
}
.aegis-ContentPanelDark [D='1'] > .ControlsPanel,
.aegis-ContentFrameDark [D='1'] > .ControlsPanel,
.aegis-GridFrameDark [D='1'] > .ControlsPanel,
.aegis-WrapperFrameDark [D='1'] > .ControlsPanel {
  background-color: #566963;
  color: #dddddd;
}
/* InputFrame ******************************************************************/
.aegis-InputFrame > .ControlsPanel,
.aegis-InputFrameLight > .ControlsPanel {
  background-color: #eeeeee;
  color: #111111;
}
.aegis-InputFrame [D='1'] > .ControlsPanel,
.aegis-InputFrameLight [D='1'] > .ControlsPanel {
  background-color: #eeeeee;
  color: #808080;
}
.aegis-InputFrameDark > .ControlsPanel {
  background-color: #eeeeee;
  color: #111111;
}
.aegis-InputFrameDark [D='1'] > .ControlsPanel {
  background-color: #eeeeee;
  color: #808080;
}
