@import "./theme.less";

/* ContentPanel, ContentFrame, ContentGrid, ContentWrapper ********************/
.@{tp}ContentPanel,
.@{tp}ContentPanelLight,
.@{tp}ContentFrame,
.@{tp}ContentFrameLight,
.@{tp}ContentGrid,
.@{tp}ContentGridLight,
.@{tp}ContentWrapper,
.@{tp}ContentWrapperLight{

  > .ControlsPanel{
    background-color: @bInferLight;
    color: @tInferLight;
  }

  &[D='1'] > .ControlsPanel{
    background-color: @bInferLight_D;
    color: @tInferLight_D;
  }
}

.@{tp}ContentPanelDark,
.@{tp}ContentFrameDark,
.@{tp}ContentGridDark,
.@{tp}ContentWrapperDark{

  > .ControlsPanel{
    background-color: @bInferDark;
    color: @tInferDark;
  }

  &[D='1'] > .ControlsPanel{
    background-color: @bInferDark_D;
    color: @tInferDark_D;
  }
}

/* InputFrame *****************************************************************/
.@{tp}InputFrame,
.@{tp}InputFrameLight{

  > .ControlsPanel{
    background-color: @bInput;
    color: @tInput;
  }

  &[D='1'] > .ControlsPanel{
    background-color: @bInput_D;
    color: @tInput_D;
  }
}

.@{tp}InputFrameDark{

  > .ControlsPanel{
    background-color: @bInput;
    color: @tInput;
  }

  &[D='1'] > .ControlsPanel{
    background-color: @bInput_D;
    color: @tInput_D;
  }
}

/* PanelButton, ContentButton *************************************************/
/* LargeContentButton, ContentFlatButton, ContentInputButton ******************/
.@{tp}PanelButton,
.@{tp}PanelButtonLight,
.@{tp}PanelButtonDark,
.@{tp}ContentButton,
.@{tp}ContentButtonLight,
.@{tp}ContentButtonDark,
.@{tp}LargeContentButton,
.@{tp}LargeContentButtonLight,
.@{tp}LargeContentButtonDark,
.@{tp}ContentFlatButton,
.@{tp}ContentFlatButtonLight,
.@{tp}ContentFlatButtonDark
.@{tp}ContentInputButton,
.@{tp}ContentInputButtonLight,
.@{tp}ContentInputButtonDark{
  font-family: @fontInfer;
  line-height: 14px;
  font-size: 11px;

  > div > .Text{
    margin: 7px 10px 7px 10px;
  }
}

.@{tp}LargeContentButton,
.@{tp}LargeContentButtonLight,
.@{tp}LargeContentButtonDark{
  line-height: 18px;
  font-size: 15px;

  > div > .Text{
    margin: 5px;
  }
}

.@{tp}PanelButton,
.@{tp}PanelButtonLight{

  color: @tInferLight;
  > .ControlsPanel{ background-color: @bInferLight; }

  &[o='1']{
    color: @tInferLight_o;
    > .ControlsPanel{ background-color: @bInferLight_o; }
  }

  &[S='1']{
    color: @tInferLight_S;
    > .ControlsPanel{ background-color: @bInferLight_S; }
  }

  &[o='1'][S='1']{
    color: @tInferLight_oS;
    > .ControlsPanel{ background-color: @bInferLight_oS; }
  }

  &[D='1']{
    color: @tInferLight_D;
    > .ControlsPanel{ background-color: @bInferLight_D; }
  }

  &[o='1'][D='1']{
    color: @tInferLight_oD;
    > .ControlsPanel{ background-color: @bInferLight_oD; }
  }
}

.@{tp}PanelButtonDark{

  color: @tInferDark;
  > .ControlsPanel{ background-color: @bInferDark; }

  &[o='1']{
    color: @tInferDark_o;
    > .ControlsPanel{ background-color: @bInferDark_o; }
  }

  &[S='1']{
    color: @tInferDark_S;
    > .ControlsPanel{ background-color: @bInferDark_S; }
  }

  &[o='1'][S='1']{
    color: @tInferDark_oS;
    > .ControlsPanel{ background-color: @bInferDark_oS; }
  }

  &[D='1']{
    color: @tInferDark_D;
    > .ControlsPanel{ background-color: @bInferDark_D; }
  }

  &[o='1'][D='1']{
    color: @tInferDark_oD;
    > .ControlsPanel{ background-color: @bInferDark_oD; }
  }
}

.@{tp}ContentButton,
.@{tp}ContentButtonLight,
.@{tp}LargeContentButton,
.@{tp}LargeContentButtonLight{

  color: @tBtnLight;
  > .ControlsPanel{ background-color: @bBtnLight; }

  &[o='1']{
    color: @tBtnLight_o;
    > .ControlsPanel{ background-color: @bBtnLight_o; }
  }

  &[S='1']{
    color: @tBtnLight_S;
    > .ControlsPanel{ background-color: @bBtnLight_S; }
  }

  &[o='1'][S='1']{
    color: @tBtnLight_oS;
    > .ControlsPanel{ background-color: @bBtnLight_oS; }
  }

  &[D='1']{
    color: @tBtnLight_D;
    > .ControlsPanel{ background-color: @bBtnLight_D; }
  }

  &[o='1'][D='1']{
    color: @tBtnLight_oD;
    > .ControlsPanel{ background-color: @bBtnLight_oD; }
  }
}

.@{tp}ContentButtonDark,
.@{tp}LargeContentButtonDark{

  color: @tBtnDark;
  > .ControlsPanel{ background-color: @bBtnDark; }

  &[o='1']{
    color: @tBtnDark_o;
    > .ControlsPanel{ background-color: @bBtnDark_o; }
  }

  &[S='1']{
    color: @tBtnDark_S;
    > .ControlsPanel{ background-color: @bBtnDark_S; }
  }

  &[o='1'][S='1']{
    color: @tBtnDark_oS;
    > .ControlsPanel{ background-color: @bBtnDark_oS; }
  }

  &[D='1']{
    color: @tBtnDark_D;
    > .ControlsPanel{ background-color: @bBtnDark_D; }
  }

  &[o='1'][D='1']{
    color: @tBtnDark_oD;
    > .ControlsPanel{ background-color: @bBtnDark_oD; }
  }
}

.@{tp}ContentFlatButton,
.@{tp}ContentFlatButtonLight{

  color: @tFlatLight;
  > .ControlsPanel{ background-color: @bFlatLight; }

  &[o='1']{
    color: @tFlatLight_o;
    > .ControlsPanel{ background-color: @bFlatLight_o; }
  }

  &[S='1']{
    color: @tFlatLight_S;
    > .ControlsPanel{ background-color: @bFlatLight_S; }
  }

  &[o='1'][S='1']{
    color: @tFlatLight_oS;
    > .ControlsPanel{ background-color: @bFlatLight_oS; }
  }

  &[D='1']{
    color: @tFlatLight_D;
    > .ControlsPanel{ background-color: @bFlatLight_D; }
  }

  &[o='1'][D='1']{
    color: @tFlatLight_oD;
    > .ControlsPanel{ background-color: @bFlatLight_oD; }
  }
}

.@{tp}ContentFlatButtonDark{

  color: @tFlatDark;
  > .ControlsPanel{ background-color: @bFlatDark; }

  &[o='1']{
    color: @tFlatDark_o;
    > .ControlsPanel{ background-color: @bFlatDark_o; }
  }

  &[S='1']{
    color: @tFlatDark_S;
    > .ControlsPanel{ background-color: @bFlatDark_S; }
  }

  &[o='1'][S='1']{
    color: @tFlatDark_oS;
    > .ControlsPanel{ background-color: @bFlatDark_oS; }
  }

  &[D='1']{
    color: @tFlatDark_D;
    > .ControlsPanel{ background-color: @bFlatDark_D; }
  }

  &[o='1'][D='1']{
    color: @tFlatDark_oD;
    > .ControlsPanel{ background-color: @bFlatDark_oD; }
  }
}

.@{tp}ContentInputButton,
.@{tp}ContentInputButtonLight,
.@{tp}ContentInputButtonDark{

  color: @tInput;
  > .ControlsPanel{ background-color: @bInput; }

  &[o='1']{
    color: @tInput_o;
    > .ControlsPanel{ background-color: @bInput_o; }
  }

  &[S='1']{
    color: @tInput_S;
    > .ControlsPanel{ background-color: @bInput_S; }
  }

  &[o='1'][S='1']{
    color: @tInput_oS;
    > .ControlsPanel{ background-color: @bInput_oS; }
  }

  &[I='1']{
    color: @tInput_I;
    > .ControlsPanel{ background-color: @bInput_I; }
  }

  &[o='1'][I='1']{
    color: @tInput_oI;
    > .ControlsPanel{ background-color: @bInput_oI; }
  }

  &[D='1']{
    color: @tInput_D;
    > .ControlsPanel{ background-color: @bInput_D; }
  }

  &[o='1'][D='1']{
    color: @tInput_oD;
    > .ControlsPanel{ background-color: @bInput_oD; }
  }
}

/* ContentCheckBox, ContentRadioButton ****************************************/
.@{tp}ContentCheckBox,
.@{tp}ContentCheckBoxLight,
.@{tp}ContentRadioButton,
.@{tp}ContentRadioButtonLight{
  font-family: @fontInfer;
  line-height: 14px;
  font-size: 11px;

  > div > .Text{
    margin: 7px 10px 7px 10px;
  }
}

.@{tp}ContentCheckBoxDark,
.@{tp}ContentRadioButtonDark{
  font-family: @fontInfer;
  line-height: 14px;
  font-size: 11px;

  > div > .Text{
    margin: 7px 10px 7px 10px;
  }
}

.@{tp}ContentCheckBox,
.@{tp}ContentCheckBoxLight,
.@{tp}ContentRadioButton,
.@{tp}ContentRadioButtonLight{
  color: @tBtnLight;

  &[o='1']{ color: @tBtnLight_o; }
  &[S='1']{ color: @tBtnLight_S; }
  &[o='1'][S='1']{ color: @tBtnLight_oS; }
  &[D='1']{ color: @tBtnLight_D; }
  &[o='1'][D='1']{ color: @tBtnLight_oD; }
}

.@{tp}ContentCheckBoxDark,
.@{tp}ContentRadioButtonDark{
  color: @tBtnDark;

  &[o='1']{ color: @tBtnDark_o; }
  &[S='1']{ color: @tBtnDark_S; }
  &[o='1'][S='1']{ color: @tBtnDark_oS; }
  &[D='1']{ color: @tBtnDark_D; }
  &[o='1'][D='1']{ color: @tBtnDark_oD; }
}