@import "./theme.less";

/* App ************************************************************************/
.ngApplication{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: @bApp;
}

* [unselectable='on']{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-ms-clear{
  width: 0;
  height: 0;
}

::-ms-reveal{
  width: 0;
  height: 0;
}

/* ContentPanel, ContentFrame, ContentGrid, ContentWrapper ********************/
.@{tp}ContentPanel,
.@{tp}ContentPanelLight,
.@{tp}ContentFrame,
.@{tp}ContentFrameLight,
.@{tp}ContentGrid,
.@{tp}ContentGridLight,
.@{tp}ContentWrapper,
.@{tp}ContentWrapperLight{

  > .ControlsPanel{
    background-color: @bInferLight;
    color: @tInferLight;
  }

  &[D='1'] > .ControlsPanel{
    background-color: @bInferLight_D;
    color: @tInferLight_D;
  }
}

.@{tp}ContentPanelDark,
.@{tp}ContentFrameDark,
.@{tp}ContentGridDark,
.@{tp}ContentWrapperDark{

  > .ControlsPanel{
    background-color: @bInferDark;
    color: @tInferDark;
  }

  &[D='1'] > .ControlsPanel{
    background-color: @bInferDark_D;
    color: @tInferDark_D;
  }
}

/* InputFrame *****************************************************************/
.@{tp}InputFrame,
.@{tp}InputFrameLight{

  > .ControlsPanel{
    background-color: @bInput;
    color: @tInput;
  }

  &[D='1'] > .ControlsPanel{
    background-color: @bInput_D;
    color: @tInput_D;
  }
}

.@{tp}InputFrameDark{

  > .ControlsPanel{
    background-color: @bInput;
    color: @tInput;
  }

  &[D='1'] > .ControlsPanel{
    background-color: @bInput_D;
    color: @tInput_D;
  }
}

/* ButtonPanel, ContentButton, ContentFlatButton, LargeContentButton **********/
.@{tp}ButtonPanel,
.@{tp}ButtonPanelLight,
.@{tp}ContentButton,
.@{tp}ContentButtonLight,
.@{tp}LargeContentButton,
.@{tp}LargeContentButtonLight,
.@{tp}ContentFlatButton,
.@{tp}ContentFlatButtonLight{
  font-family: @fontInfer;
  line-height: 14px;
  font-size: 11px;

  > div > .Text{
    margin: 7px 10px 7px 10px;
  }
}

.@{tp}ButtonPanelDark,
.@{tp}ContentButtonDark,
.@{tp}LargeContentButtonDark,
.@{tp}ContentFlatButtonDark{
  font-family: @fontInfer;
  line-height: 14px;
  font-size: 11px;

  > div > .Text{
    margin: 7px 10px 7px 10px;
  }
}

.@{tp}LargeContentButton,
.@{tp}LargeContentButtonLight,
.@{tp}LargeContentButtonDark{
  line-height: 18px;
  font-size: 15px;

  > div > .Text{
    margin: 5px;
  }
}

.@{tp}ButtonPanel,
.@{tp}ButtonPanelLight{

  color: @tInferLight;
  > .ControlsPanel{ background-color: @bInferLight; }

  &[o='1']{
    color: @tInferLight_o;
    > .ControlsPanel{ background-color: @bInferLight_o; }
  }

  &[S='1']{
    color: @tInferLight_S;
    > .ControlsPanel{ background-color: @bInferLight_S; }
  }

  &[D='1']{
    color: @tInferLight_D;
    > .ControlsPanel{ background-color: @bInferLight_D; }
  }
}

.@{tp}ButtonPanelDark{

  color: @tInferDark;
  > .ControlsPanel{ background-color: @bInferDark; }

  &[o='1']{
    color: @tInferLight_o;
    > .ControlsPanel{ background-color: @bInferDark_o; }
  }

  &[S='1']{
    color: @tInferDark_S;
    > .ControlsPanel{ background-color: @bInferDark_S; }
  }

  &[D='1']{
    color: @tInferDark_D;
    > .ControlsPanel{ background-color: @bInferDark_D; }
  }
}

.@{tp}ContentButton,
.@{tp}ContentButtonLight,
.@{tp}LargeContentButton,
.@{tp}LargeContentButtonLight,
.@{tp}ContentFlatButton,
.@{tp}ContentFlatButtonLight{

  color: @tBtnLight;
  > .ControlsPanel{ background-color: @bBtnLight; }

  &[o='1']{
    color: @tBtnLight_o;
    > .ControlsPanel{ background-color: @bBtnLight_o; }
  }

  &[S='1']{
    color: @tBtnLight_S;
    > .ControlsPanel{ background-color: @bBtnLight_S; }
  }

  &[D='1']{
    color: @tBtnLight_D;
    > .ControlsPanel{ background-color: @bBtnLight_D; }
  }
}

.@{tp}ContentButtonDark,
.@{tp}LargeContentButtonDark,
.@{tp}ContentFlatButtonDark{

  color: @tBtnDark;
  > .ControlsPanel{ background-color: @bBtnDark; }

  &[o='1']{
    color: @tBtnLight_o;
    > .ControlsPanel{ background-color: @bBtnDark_o; }
  }

  &[S='1']{
    color: @tBtnDark_S;
    > .ControlsPanel{ background-color: @bBtnDark_S; }
  }

  &[D='1']{
    color: @tBtnDark_D;
    > .ControlsPanel{ background-color: @bBtnDark_D; }
  }
}