//theme prefix
@tp: aegis-;

//app colors
@bApp: #333333; //background
@tApp: #eeeeee; //text

//superior colors
@bSuper: #3f7f00; //background
@tSuper: #eeeeee; //text
@bSuperFoc: #eeeeee; //focused background
@tSuperFoc: #eeeeee; //focused text
@bSuperSel: #eba428; //selected background
@tSuperSel: #eeeeee; //selected text

//light inferior colors
@bInferLight: #768d87; //background
@tInferLight: #111111; //text
@bInferLightDsbl: #768d87; //disabled background
@tInferLightDsbl: #808080; //disabled text

//dark inferior colors
@bInferDark: #566963; //background
@tInferDark: #dddddd; //text
@bInferDarkFoc: #94c469; //focused background
@tInferDarkFoc: #111111; //focused text
@bInferDarkSel: #eba428; //selected background
@tInferDarkSel: #111111; //selected text
@bInferDarkDsbl: #566963; //disabled background
@tInferDarkDsbl: #dddddd; //disabled text

//input colors
@bInput: #eeeeee; //background
@tInput: #111111; //text
@bInputFoc: #94c469; //focused background
@tInputFoc: #111111; //focused text
@bInputSel: #eba428; //selected background
@tInputSel: #111111; //selected text
@bInputChck: #cccccc; //checked background
@tInputChck: #111111; //checked text
@bInputDsbl: #eeeeee; //disabled background
@tInputDsbl: #808080; //disabled text