//theme prefix
@tp: aegis-;

//font
@fontSuper: Arial CE, Helvetica CE, Arial, Helvetica, sans-serif;
@fontInfer: Arial CE, Helvetica CE, Arial, Helvetica, sans-serif;
@fontInput: Arial CE, Helvetica CE, Arial, Helvetica, sans-serif;

//app colors
@bApp: #333333; //background
@tApp: #eeeeee; //text

//superior colors
@bSuper: #3f7f00; //background
@tSuper: #eeeeee; //text
@bSuper_o: #eeeeee; //over background
@tSuper_o: #eeeeee; //over text
@bSuper_S: #eba428; //selected background
@tSuper_S: #eeeeee; //selected text

//light inferior colors
@cInferLight: #566963; //content
@bInferLight: #768d87; //background
@tInferLight: #111111; //text
@bInferLight_o: #97ada7; //over background
@tInferLight_o: #111111; //over text
@bInferLight_S: #97ada7; //selected background
@tInferLight_S: #111111; //selected text
@bInferLight_oS: #97ada7; //over selected background
@tInferLight_oS: #111111; //over selected text
@bInferLight_D: #768d87; //disabled background
@tInferLight_D: #404040; //disabled text
@bInferLight_oD: #768d87; //over disabled background
@tInferLight_oD: #404040; //over disabled text

@bInferItemLight: transparent; //item background
@tInferItemLight: #111111; //item text
@bInferItemLight_o: #94c469; //item over background
@tInferItemLight_o: #111111; //item over text
@bInferItemLight_S: transparent; //item selected background
@tInferItemLight_S: #111111; //item selected text
@bInferItemLight_oS: #94c469; //item over selected background
@tInferItemLight_oS: #111111; //item over selected text
@bInferItemLight_D: transparent; //item disabled background
@tInferItemLight_D: #404040; //item disabled text
@bInferItemLight_oD: transparent; //item over disabled background
@tInferItemLight_oD: #404040; //item over disabled text

//dark inferior colors
@cInferDark: #36423e; //content
@bInferDark: #566963; //background
@tInferDark: #dddddd; //text
@bInferDark_o: #788a84; //over background
@tInferDark_o: #dddddd; //over text
@bInferDark_S: #788a84; //selected background
@tInferDark_S: #111111; //selected text
@bInferDark_oS: #788a84; //over selected background
@tInferDark_oS: #111111; //over selected text
@bInferDark_D: #566963; //disabled background
@tInferDark_D: #a8a8a8; //disabled text
@bInferDark_oD: #566963; //over disabled background
@tInferDark_oD: #a8a8a8; //over disabled text

@bInferItemDark: transparent; //item background
@tInferItemDark: #eeeeee; //item text
@bInferItemDark_o: #94c469; //item ver background
@tInferItemDark_o: #111111; //item over text
@bInferItemDark_S: transparent; //item selected background
@tInferItemDark_S: #eeeeee; //item selected text
@bInferItemDark_oS: #94c469; //item over selected background
@tInferItemDark_oS: #111111; //item over selected text
@bInferItemDark_D: transparent; //item disabled background
@tInferItemDark_D: #a8a8a8; //item disabled text
@bInferItemDark_oD: transparent; //item over disabled background
@tInferItemDark_oD: #a8a8a8; //item over disabled text

//button colors
@bBtnLight: #879a95; //background
@tBtnLight: #111111; //text
@bBtnLight_o: #97ada7; //over background
@tBtnLight_o: #111111; //over text
@bBtnLight_S: #97ada7; //selected background
@tBtnLight_S: #111111; //selected text
@bBtnLight_oS: #97ada7; //over selected background
@tBtnLight_oS: #111111; //over selected text
@bBtnLight_D: #768d87; //disabled background
@tBtnLight_D: #404040; //disabled text
@bBtnLight_oD: #768d87; //over disabled background
@tBtnLight_oD: #404040; //over disabled text

@bBtnDark: #677a74; //background
@tBtnDark: #111111; //text
@bBtnDark_o: #788a84; //over background
@tBtnDark_o: #111111; //over text
@bBtnDark_S: #788a84; //selected background
@tBtnDark_S: #111111; //selected text
@bBtnDark_oS: #788a84; //over selected background
@tBtnDark_oS: #111111; //over selected text
@bBtnDark_D: #566963; //disabled background
@tBtnDark_D: #a8a8a8; //disabled text
@bBtnDark_oD: #566963; //over disabled background
@tBtnDark_oD: #a8a8a8; //over disabled text

//flat colors
@bFlatLight: #768d87; //background
@tFlatLight: #111111; //text
@bFlatLight_o: #97ada7; //over background
@tFlatLight_o: #111111; //over text
@bFlatLight_S: #97ada7; //selected background
@tFlatLight_S: #111111; //selected text
@bFlatLight_oS: #97ada7; //over selected background
@tFlatLight_oS: #111111; //over selected text
@bFlatLight_D: #768d87; //disabled background
@tFlatLight_D: #404040; //disabled text
@bFlatLight_oD: #768d87; //over disabled background
@tFlatLight_oD: #404040; //over disabled text

@bFlatDark: #566963; //background
@tFlatDark: #111111; //text
@bFlatDark_o: #788a84; //over background
@tFlatDark_o: #111111; //over text
@bFlatDark_S: #788a84; //selected background
@tFlatDark_S: #111111; //selected text
@bFlatDark_oS: #788a84; //over selected background
@tFlatDark_oS: #111111; //over selected text
@bFlatDark_D: #566963; //disabled background
@tFlatDark_D: #a8a8a8; //disabled text
@bFlatDark_oD: #566963; //over disabled background
@tFlatDark_oD: #a8a8a8; //over disabled text

//input colors
@bInput: #eeeeee; //background
@tInput: #111111; //text
@bInput_o: #94c469; //ver background
@tInput_o: #111111; //over text
@bInput_S: #eba428; //selected background
@tInput_S: #111111; //selected text
@bInput_D: #eeeeee; //disabled background
@tInput_D: #808080; //disabled text